/* Noctalia Dynamic Theme for Obsidian */
body, .theme-dark, .theme-light {

  --accent-h: {{colors.primary.default.hue}} !important;
  --accent-s: {{colors.primary.default.saturation}}% !important;
  --accent-l: {{colors.primary.default.lightness}}% !important;
  
  --body-bg: {{colors.surface.default.hex}} !important;
  --app-bg: {{colors.surface.default.hex}} !important;
  --background-primary: {{colors.surface.default.hex}} !important;
  --background-secondary: {{colors.surface_container.default.hex}} !important;
  --background-secondary-alt: {{colors.surface_container_high.default.hex}} !important;
  
  --text-normal: {{colors.on_surface.default.hex}} !important;
  --text-muted: {{colors.on_surface_variant.default.hex}} !important;
  --text-faint: {{colors.outline.default.hex}} !important;
  
  --text-on-accent: {{colors.on_primary.default.hex}} !important;

  --interactive-accent: {{colors.primary.default.hex}} !important;
  --text-accent: {{colors.primary.default.hex}} !important;

  --text-bold: {{colors.primary.default.hex}} !important; 
  --text-italic: {{colors.secondary.default.hex}} !important;

  --background-modifier-border: {{colors.outline_variant.default.hex}} !important;
  --hr-color: {{colors.outline_variant.default.hex}} !important;
}

.cm-header-1, .markdown-preview-view h1 { color: {{colors.primary.default.hex}} !important; }
.cm-header-2, .markdown-preview-view h2 { color: {{colors.secondary.default.hex}} !important; }
.cm-header-3, .markdown-preview-view h3 { color: {{colors.tertiary.default.hex}} !important; }

::selection {
  background-color: {{colors.primary.default.hex}} !important;
  color: {{colors.on_primary.default.hex}} !important; 
}

.cm-selection-background {
  background-color: {{colors.primary.default.hex | set_alpha 0.4}} !important;
}

.cm-line.cm-active, .cm-selection {
  color: {{colors.on_surface.default.hex}} !important; 
}

code, .cm-inline-code {
  background-color: {{colors.primary.default.hex | desaturate 70 }} !important;
  color: {{colors.on_primary.default.hex}} !important;
  border-radius: 4px !important;
  padding: 2px 5px !important;
}
